Hi, Home component
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <ng-container *ngIf="auth.user$ | async as user">
    {{ user.name }} {{ user.email }}
    <button mat-button routerLink="admin">
      Admin
    </button>
    <button mat-button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
      Log out
    </button>
  </ng-container>
</ng-container>
<ng-template #loggedOut>
  <button mat-button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>

<h2>Mes cartes</h2>
<ng-container *ngIf="(cards$ | async)?.length === 0">
  <p>Vous n'avez actuellement aucune carte.</p>
  <p>Interessé par une carte 10 séances ?</p>
  <button mat-button (click)="orderCard()">
    Cliquer ici
  </button>
</ng-container>


<ul class="yo-list">
  <li *ngFor="let card of cards$ | async" class="yo-list-item">
    <mat-icon>badge</mat-icon>
    <div>
      <span class="card-ref">{{card.id | cardId}}</span>
      <div class="yo-sub-item">demandé le : {{card.createdTime | date}}</div>
      <div *ngIf="card.status === 'PENDING'">Votre demande de carte est actuellement en cours...,
        veuillez vérifier que votre paiement a été effectué et veuillez attendre quelques jours ouvrables pour réception.
      </div>
    </div>
    <div>
      <span [ngClass]="card.status">{{card.status}}</span>
    </div>
    <div>
      Il reste {{card.capacity - getBookedSlotsCount(card.id)}} places.
    </div>
  </li>
</ul>

<h2>Prochains cours</h2>
<ul class="yo-list">
  <li *ngFor="let slot of slots$ | async" class="yo-list-item">
    <mat-icon>event_available</mat-icon>
    <div>
      {{slot.courseDate | date}}
      <div class="yo-sub-item">{{slot.courseTime}}</div>
    </div>
    <div>
      <div *ngIf="getBookedSlot(slot.id) as bookedSlot; else notBookedSlot">
        <span class="booked">Réservé</span>
        <span class="card-ref">{{bookedSlot.card.id | cardId}}</span>
      </div>
      <ng-template #notBookedSlot>
        <button mat-flat-button color="primary"
                [disabled]="!(canBook$ | async)"
                (click)="bookSlot(slot.id)">Réserver</button>
      </ng-template>
    </div>
    <div>
      <button mat-icon-button *ngIf="getBookedSlot(slot.id) as bookedSlot" (click)="unbookSlot(bookedSlot)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </li>
</ul>
