.ACTIVE {
  padding: 0 5px;
  color: white;
  background-color: green;
}
.PENDING {
  padding: 0 5px;
  color: white;
  background-color: orange;
}
.slot-list {
  max-width: 500px;
}

.booked {
  background-color: green;
  color: white;
  padding: 0 5px;
  margin: 0 10px 0 0;
}

.card-price {
  border: 1px solid black;
  padding: 0 5px;
  margin: 0 10px 0 0;
}

.yo-list {
  list-style: none;
  max-width: 600px;
  padding-left: 20px;
  .yo-list-item {
    display: grid;
    grid-template-columns: 50px auto 200px 100px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    .yo-list-item-main {
      font-size: 1.2em;
    }
    .yo-sub-item{
      font-size: 0.9em;
    }
    .yo-colspan-item {
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .mdc-icon-button {
      border: 0;
      padding: 0;
      height: fit-content;
      width: fit-content;
    }
  }
}

.yo-warn-item {
  color: red;
  font-style: italic;
}
