<h2>Mes cartes</h2>
<div *ngIf="cards?.length === 0">
  <p>Vous n'avez actuellement aucune carte.</p>
  <p>Interessé par une carte 10 séances ?</p>
  <button mat-raised-button color="primary" (click)="orderCard()">Commander une carte</button>
</div>
<div *ngIf="singleCardIsFull$ | async">
  <p>Interessé par une nouvelle carte 10 séances ?</p>
  <button mat-raised-button color="primary" (click)="orderCard()">Commander une carte</button>
</div>
<ul class="yo-list">
  <li *ngFor="let card of cards" class="yo-list-item">
    <mat-icon>badge</mat-icon>
    <div class="yo-list-item-main">
      <span class="yo-card-ref">{{card.id | cardId}}</span> <span class="yo-card-price">{{card.price}} €</span>
      <div class="yo-sub-item">Demandé le : {{card.createdTime | date}}</div>
      <div class="yo-sub-item">Capacité : {{card.capacity}} séances</div>
      <div class="yo-sub-item yo-success-item" *ngIf="card.status === 'ACTIVE'">
        Séances restantes : {{card.capacity - getBookedSlotsCount(card.id)}}
      </div>
    </div>
    <div></div>
    <div>
      <span [ngClass]="card.status">{{card.status | cardStatus}}</span>
    </div>
    <div class="yo-sub-item yo-colspan-item yo-warn-item" *ngIf="card.status === 'PENDING'">Votre demande de carte est
      actuellement en cours,
      veuillez vérifier que votre paiement a été effectué et veuillez attendre quelques jours ouvrables avant de voir
      votre carte validée.
    </div>
  </li>
</ul>
