<mat-card class="yo-card">
  <h1 mat-card-title>Mes cartes</h1>
  <ng-container *ngIf="cards?.length === 0; else hasCards">
    <mat-card-content>
      <p>Vous n'avez actuellement aucune carte, interessé par une carte 10 séances ?</p>
      <p>Deux options s'offrent à vous:</p>
      <ul>
        <li>Prix: <strong>150€</strong> (Durée de validité de 1 an)</li>
        <li>Prix: <strong>135€</strong> (Durée de validité jusqu'au 30 juin 2025)</li>
      </ul>
      <p>Après avoir commandé cette carte, veuillez payer le montant à l'aide d'un virement bancaire
        avec les références suivantes:</p>
      <p>
        Nom: <strong>Yoga En Pévèle</strong><br/>
        N° de compte : <strong>FR76 3002 7171 3500 0203 9110 110</strong><br/>
        Communication: <strong>Votre nom + prénom</strong>
      </p>
      <p>Votre demande sera traitée dès que possible, après réception du paiement (compter 3 jours ouvrables),
        vous serez alors en mesure de faire vos réservations de séances en ligne.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="orderCardLong()">Commander une carte à 150€</button>
      <button mat-raised-button color="primary" (click)="orderCardShort()">Commander une carte à 135€</button>
    </mat-card-actions>
  </ng-container>
  <ng-template #hasCards>
    <mat-card-content>
      <ul class="yo-list">
        <li *ngFor="let card of cards" class="yo-list-item yo-list-item-card">
          <mat-icon>badge</mat-icon>
          <div class="yo-list-item-main">
            <span class="yo-card-ref">{{card.id | cardId}}</span> <span class="yo-card-price">{{card.price}} €</span>
            <div class="yo-sub-item">Demandé le : {{card.createdTime | date}}</div>
            <div class="yo-sub-item-small">Expire le : {{card.expirationTime | date}}</div>
            <div class="yo-sub-item">Capacité : {{card.capacity}} séances</div>
            <div class="yo-sub-item yo-success-item" *ngIf="card.status === 'ACTIVE'">
              Séances restantes : {{card.capacity - getBookedSlotsCount(card.id)}}
            </div>
          </div>
          <div>
            <span [ngClass]="card.status">{{card.status | cardStatus}}</span>
          </div>
          <div class="yo-sub-item yo-colspan-item" *ngIf="card.status === 'PENDING'">
            <p class="yo-warn-item">Votre demande de carte est
            actuellement en cours,
            veuillez vérifier que votre paiement a été effectué et veuillez attendre quelques jours ouvrables avant de voir
            votre carte validée.
            </p>
            <p>
            <p>Pour rappel, dès la commande de cette carte, veuillez payer le montant à l'aide d'un virement bancaire
              avec les références suivantes:
            </p>
            <p>
              Nom: <strong>Yoga En Pévèle</strong><br/>
              N° de compte : <strong>FR76 3002 7171 3500 0203 9110 110</strong><br/>
              Communication: <strong>Votre nom + prénom</strong>
            </p>
          </div>
        </li>
      </ul>
      <div *ngIf="singleCardIsFull$ | async">
        <p>Interessé par une nouvelle carte 10 séances ?</p>
        <ul>
          <li>Prix: <strong>150€</strong> (Durée de validité de 1 an)</li>
          <li>Prix: <strong>135€</strong> (Durée de validité jusqu'au 30 juin 2025)</li>
        </ul>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="orderCardLong()">Commander une carte à 150€</button>
          <button mat-raised-button color="primary" (click)="orderCardShort()">Commander une carte à 135€</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>
