<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Réserver une séance</h1>
  <div mat-dialog-content>
    <div class="yo-form-container">
      <p>Etes-vous sûr de vouloir réserver la séance du {{slot.courseDate | date : 'fullDate' }}, tranche horaire {{slot.courseTime}} ?</p>
      <p>L'annulation de la réservation sera possible jusqu'à {{CANCEL_DEADLINE_HOURS}} heures avant la séance.</p>
      <mat-checkbox formControlName="emailConfirmation">Recevoir une confirmation par mail.</mat-checkbox>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="close()">Annuler</button>
    <button mat-flat-button type="submit" color="primary">Confirmer</button>
  </div>
</form>
