/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  padding: 20px;
}

.expand {
  flex: 1 1 auto;
}

.form-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &> * {
    margin-top: 20px;
  }
}
.user-picture {
  border-radius: 50px;
}
.mat-mdc-menu-item.small-menu-item .mdc-list-item__primary-text {
  font-size: 0.7em;
}

.card-ref {
  background-color: orange;
  color: white;
  padding: 0 5px;
  margin: 0 10px 0 0;
}
