/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "variables";


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $yoga-light-green;
}
.mdc-card {
  padding: 20px;
}
@media (max-width: 1200px) {
  .mdc-card {
    padding: 8px;
  }
}
.mat-mdc-card-actions button {
  margin: 10px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
 background-color: $yoga-light-green !important;
}
main {
  padding: 20px;
}
.yo-container {
  margin: auto;
  text-align: center;
}
.ACTIVE {
  padding: 0 5px;
  color: black;
  background-color: lightgreen;
}
.PENDING {
  padding: 0 5px;
  color: white;
  background-color: orange;
}
.EXPIRED {
  padding: 0 5px;
  color: white;
  background-color: lightslategrey;
}

.yo-list {
  background-color: $yoga-dark-green;
  color: white;
  list-style: none;
  max-width: 600px;
  padding: 30px;
  margin: auto;
  border-radius: 12px;
  .yo-list-item-slot {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    .yo-colspan-item {
      grid-column-start: 2;
      grid-column-end: 5;
    }
  }
  .yo-list-item-card {
    grid-template-columns: 1fr 3fr 1fr;
    .yo-colspan-item {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
  .yo-list-item {
    display: grid;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    .yo-list-item-main {
      font-size: 1.2em;
    }
    .yo-sub-item {
      font-size: 0.9em;
    }
    .yo-sub-item-small {
      font-size: 0.7em;
    }
    .mdc-icon-button {
      border: 0;
      padding: 0;
      height: fit-content;
      width: fit-content;
    }
  }
}

@media (max-width: 1000px) {
  .yo-list {
    padding: 10px;
  }
}

.yo-warn-item {
  color: orange;
  font-style: italic;
}
.yo-success-item {
  color: lightgreen;
}

.yo-card {
  background-color: #eee !important;
  margin-top: 5px;
}

.yo-expand {
  flex: 1 1 auto;
}

.yo-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &> * {
    margin-top: 20px;
  }
}
.yo-user-picture {
  border-radius: 50px;
}
.mat-mdc-menu-item.small-menu-item .mdc-list-item__primary-text {
  font-size: 0.7em;
}

.yo-card-ref {
  background-color: orange;
  color: white;
  padding: 0 5px;
  margin: 0 10px 0 0;
}
