.expansion-admin-list .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.participant-list .mat-mdc-list-item-line span {
  display: inline-block;
  margin-right: 30px;
}
